@font-face{
    font-family: miFuente;
    src: url('fonts/BillionDreams_PERSONAL.ttf') format('truetype');
}

#exampleModalLabel{
    color: red;
}

.container h1{
    text-align: center;
    font-family: miFuente;
    font-size: 63px;
}

/*.container-fluid{
    background-color: rgb(255, 255, 255);
}

body{
    background-color: white;
}*/

.card-body{
    text-align: center;
}

#logoPagina{
    height: 100px;
    width: 200px;
}

.col-md-4{
    margin: 10px;
    column-gap: 10px;
}


/*.card-body{
    background-color: white;
    border-color: white;
}*/

.container img{
    width: 100%;
    height: 100%;
    height: 600px;
    width: 400px;
}


#fotoCarrito{
    height: 120px;
    width: 120px;
}

h3{
    font-family: miFuente;
}

/*.card{
    border-color:white;    
}*/

.cardflo img{
    height: 250px;
    width: 250px;
    width: 100%;

}
.cardbon{
    height: 100%;
}
.carousel-inner img{
    height: 500px;
    width: 200px;
}

h1{
    font-family: miFuente;
}

label{
    font-family: miFuente;
    font-size: 150%;
}
.clockdate-wrapper{
    font-family: fantasy;
    font-size: 150%;
}
#temp{
    font-family: fantasy;
    font-size: 125%;
}
#location{
    font-family: miFuente;
    font-size: 125%;
}
#estado{
    font-family: miFuente;
    font-size: 125%;
}

.error{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-size: 85%;
}

#totalCarrito{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

.carrito {
    min-height: 80vh;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.table__productos {
    display: flex;
}

.table__productos>img {
    width: 9rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;
}

.table__cantidad>input {
    width: 40px;
    border: none;
    outline: 0;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
}

.hide,
.remove {
    display: none;
}

.text-primary{
    color: black;
}

#gonModal{
    height: 498px;
    width: 462px;
}